.about-us {
  padding: 6rem 1rem 0;
  scroll-margin-block-start: 4.6rem;

  .content-container {
    border-bottom: 1px solid gray;
    padding-bottom: 6rem;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
    text-align: center;
  }

  &__team-container {
    display: flex;
    gap: 8rem;
    justify-content: center;

    .team-member {
      text-align: center;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-bottom: 0.4rem;
      }
      &__name {
        font-weight: 600;
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
      }
      &__position {
        font-size: 1.2rem;
        color: gray;
      }
    }
  }
}
