.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  background-color: lighten(gray, 30%);
  color: gray;
  gap: 3rem;

  .brand-container {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    color: darken(gray, 20%);
    &::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 4rem;
      border: 1px solid gray;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .nav {
    display: flex;
    a {
      letter-spacing: 0.2rem;
      padding: 0.8rem 1rem;
      border-right: 1px solid black;
      font-size: 1.2rem;
      text-decoration: none;
      color: inherit;

      &:last-child {
        border: none;
      }
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    gap: 2rem;

    a {
      font-weight: 600;
      font-size: 1.2rem;
      color: black;
    }

    .lang-container {
      button {
        padding: 0 0.6rem;
        border: none;
        background-color: transparent;
        &:first-child {
          border-right: 1px solid black;
        }
      }
    }
  }
}
