.endorsements {
  padding: 6rem 1rem;
  background-color: lighten(gray, 40%);

  .endorsements-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    .endorsement {
      img {
        object-fit: cover;
        width: 150px;
        height: 100px;
      }
    }
  }
}
