.modules {
  padding: 6rem 1rem 0;
  scroll-margin-block-start: 4.6rem;

  .content-container {
    border-bottom: 1px solid gray;
    padding-bottom: 6rem;
  }

  &__list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;

    .module {
      height: 16rem;
      background-color: lighten(gray, 40%);
      padding: 2rem;

      h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      &__description {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        &__command {
          font-weight: 600;
          margin-bottom: 0.2rem;
          color: rgb(47, 194, 47);
        }
      }
    }
  }
}
