*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.btn {
  padding: 0.8rem 1rem;
  border: none;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

// Mobile view placeholder
@media (max-width: 790px) {
  body {
    display: none;
  }
  html::after {
    content: "Mobile view not yet implemented. Please use a bigger device";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.4rem;
    font-weight: 600;
  }
}
