// generals
@use "general";

// sections
@use "sections/Header";
@use "sections/Hero";
@use "sections/Endorsements";
@use "sections/Functionality";
@use "sections/Referrals";
@use "sections/Plans";
@use "sections/Modules";
@use "sections/AboutUs";
@use "sections/Contact";
@use "sections/Footer";
